<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>appMonster</title>
</head>
<body>
    <div class="top-container">
        <header class="header">
            {{#if logged_in}}
            <h1 class="app-title">Welcome, {{username}}!</h1>
            {{else}}
            <h1 class="app-title">appMonster</h1>
            {{/if}}
        </header>

        <nav class="navigation-container">
            <a href="/" class="navigation">Home</a>
            {{#if logged_in}}
            <a href="/dashboard" class="navigation">User</a>
            <a href="/" class="navigation" id="logout">Logout [{{username}}]</a>
            {{else}}
            <a href="/login" class="navigation">Login</a>
            {{/if}}
        </nav>
    </div>

    <main>
        {{{ body }}}
    </main>    

    <div class="footer">
        {{> footer }}
    </div>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    {{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script> --}}
</body>
</html>